<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="libs\jquery-1.11.3.js"></script>
  <script src="libs\bootstrap\js\bootstrap.js"></script>
  <script src="libs\bootstrap\js\ui-bootstrap-tpls-2.5.0.js"></script>
  <script src="libs\jquery.bracket.js"></script>
  <script src="app.js"></script>
  <script src="components/settings.js"></script>
  <script src="services/services.js"></script>
  <script src="components/table.js"></script>
  <script src="components/playoff.js"></script>
  <link href="css/main.css" rel="stylesheet">
  <link href="css/bracket.css" rel="stylesheet">
  <link href="css/settings.css" rel="stylesheet">
  <link href="css/table.css" rel="stylesheet">
  <link href="libs\bootstrap\css\bootstrap.css" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/manifest.json">
  <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <title>
    NHL-turnering
  </title>
</head>
  <body>
    <div ng-app="tournament" ng-controller="TournamentController">
      <tournament-settings ng-if="currentStatus == 'settings'"></tournament-settings>

      <tournament-table ng-if="currentStatus == 'table'"></tournament-table>
      <tournament-playoff ng-if="currentStatus == 'table'"></tournament-playoff>
    </div>
  </body>
</html>





