
<div ng-controller="PlayOffController as playoff">
  <button ng-click="bracketButton = true; playoff.initBracket();" ng-init="playoff.initBracket();">Skapa slutspel</button>
  <!--<button ng-click="playoff.reloadBracket();">Ladda om slutspel</button>-->
  <div class="bracket"></div>
  
  <div ng-repeat="round in results">
    <div ng-repeat="matchup in round" ng-click="open(matchup)">
      <div >
        <div style="display:inline-block">{{matchup.teams[0]}}</div><div style="display:inline-block">{{matchup.totalresults[0]}}</div>
      </div>
      <div>
        <div style="display:inline-block">{{matchup.teams[1]}}</div><div style="display:inline-block">{{matchup.totalresults[1]}}</div>
      </div>
     
    </div>
    
  </div>
 
</div>
