
<div ng-controller="TableController" >
    <span>{{name}}</span>
    <div style="display:table" class="table">
        <div style="display:table-row;">
            <div style="display:table-cell;">
                <a href="#">
                </a>
            </div>
            <div style="display:table-cell;">
                <a href="#">
                    Team
                </a>
            </div>
            <div style="display:table-cell;">
                <a href="#">
                    GP
                </a>
            </div>
            <div style="display:table-cell;">
                <a href="#">
                    W
                </a>
            </div>
            <div style="display:table-cell;">
                <a href="#">
                    L
                </a>
            </div>
            <div style="display:table-cell;">
              <a href="#">
                T
              </a>
            </div>
            <div style="display:table-cell;">
              <a href="#">
                OT
              </a>
            </div>
            <div style="display:table-cell;">
                <a href="#">
                    GF
                </a>
            </div>
            <div style="display:table-cell;">
                <a href="#">
                    GA
                </a>
            </div>
            <div style="display:table-cell;">
                <a href="#">
                    +/-
                </a>
            </div>
            <div style="display:table-cell;">
                <a href="#">
                    P
                </a>
            </div>
        </div>
    
        <div ng-repeat="player in playersArr | orderBy: '-plusminus' | orderBy : '-points'" style="display: table-row">
            <div class="teamImage" style="display:table-cell; background-image: url(img/{{player.team.abbrevation}}.gif);"></div>
            <div ng-class="teamsToPlayOff > $index ? 'proceed' : 'notProceed'" style="display:table-cell;">{{player.playername}}</div>
            <div style="display:table-cell;">{{player.gamesplayed}}</div>
            <div style="display:table-cell;">{{player.wins}}</div>
            <div style="display:table-cell;">{{player.losses}}</div>
            <div style="display:table-cell;">{{player.draws}}</div>
            <div style="display:table-cell;">{{player.otLoss}}</div>
            <div style="display:table-cell;">{{player.goalsForward}}</div>
            <div style="display:table-cell;">{{player.goalsAgainst}}</div>
            <div style="display:table-cell;">{{player.plusminus}}</div>
            <div style="display:table-cell;">{{player.points}}</div>
        </div>
    </div>
    
    <span>Schedule</span>
    
      <div class="input-group scoreRepeater" style="max-width: 460px;" ng-repeat="game in games">
        <span class="input-group-addon teamLabel">{{::game.homeTeam.playername}}</span>
        <input type="number" class="form-control scoreLabel" min="0" ng-model="game.homeGoals" ng-change="calcScore(game, {{game}})" ng-model-options="{updateOn: 'blur'}">
        <span class="input-group-addon">
          <input type="checkbox" ng-model="game.ot" ng-change="calcScore(game, {{game}})">
        </span>
        <input type="number" class="form-control scoreLabel" min="0" ng-model="game.awayGoals" ng-change="calcScore(game, {{game}})" ng-model-options="{updateOn: 'blur'}">
       <span class="input-group-addon teamLabel">{{::game.awayTeam.playername}}</span>
      </div>
   
</div>

