.form-wrapper {
  width: 70%;
  float: left;
}
.form-wrapper label {
  margin-top: 7px;
}
.form-wrapper input[type="checkbox"] {
  margin: 10px 0 0;
}
.createBtn {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.earlierTournaments {
  display: inline-block;
}
.sideNavContainer {
  top: 0px;
  right: 0px;
  position: absolute;
  z-index: 1;
}
.leftNavIcon.tournaments {
  height: 30px;
  width: 30px;
  background-color: #2980b9;
  background-image: url(../img/stanleycup2.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 58% 30%;
  float: left;
  z-index: 2;
  border-radius: 0 0 0 10px;
  color: #717171;
  cursor: pointer;
}
.leftNavIcon.tournaments:hover {
  background-color: #2859b9;
}
.sideNavContainer.collapsed {
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.sideNavContainer.uncollapsed {
  right: 30px;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.sideNavContainer.uncollapsed .leftNav {
  width: 180px;
}
.sideNavContainer .leftNav li {
  list-style-type: none;
  margin-left: 5px;
  cursor: default;
}
.sideNavContainer .leftNav ul {
  margin-left: 30px !important;
  width: 100%;
  /*border-left: 1px solid black;*/
  background-color: #ecf0f1;
  padding: 0;
  border-left: 1px solid;
  border-bottom: 1px solid;
}
.sideNavContainer .leftNavTitle {
  height: 30px;
}
.leftNav ul:after {
  border-left: 1px solid black;
}
.leftNavTitle label {
  margin-top: 4px;
}