<div class="modal-dialog">
  <div class="modal-header">
    <h4 class="modal-title">{{$ctrl.modalData.teams[0]}} - {{$ctrl.modalData.teams[1]}}</h4>
    <h5 class="modal-title">Best of {{$ctrl.modalData.matches.length}}</h5>
  </div>
  <div class="modal-body">
    <div ng-repeat="match in $ctrl.modalData.matches">
      <div class="input-group">
        <input type="number" class="form-control" placeholder="0" min="0" ng-model="match[0]" ng-change="$ctrl.calcScore($ctrl.modalData)" ng-model-options="{updateOn: 'blur'}"/>
        <span class="input-group-addon">-</span>
        <input type="number" class="form-control" placeholder="0" min="0" ng-model="match[1]" ng-change="$ctrl.calcScore($ctrl.modalData)" ng-model-options="{updateOn: 'blur'}"/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" type="button" ng-click="$ctrl.handleClose()">Close</button>
  </div>
</div>
