
<div ng-controller="PlayOffController as playoff">
  <div class="form-group">
    <button class="btn btn-default playoffButton" ng-show="playoff" ng-click="bracketButtonIsClicked = true; initBracket();">Create bracket</button>
  </div>
  <div ng-show="bracketButtonIsClicked">
    <!--<span>{{}}</span>-->

    <main id="tournament" >
      <ul ng-repeat="round in bracket.results track by $index" class="round round-{{$index+1}}">
        
        <li ng-repeat-start="matchup in round" class="spacer">&nbsp;</li>
        <li class="game game-top" ng-class="matchup.totalresults[0] === bracket.winsToProceed ? 'winner': ''" ng-click="open(matchup, round)">{{matchup.teams[0]}} <span>{{matchup.totalresults[0]}}</span></li>
        <li class="game game-spacer" style="color: #717171;">&nbsp;</li>
        <li class="game game-bottom " ng-class="matchup.totalresults[1] === bracket.winsToProceed ? 'winner': ''" ng-click="open(matchup, round)">{{matchup.teams[1]}} <span>{{matchup.totalresults[1]}}</span></li>
        <li ng-repeat-end class="spacer">&nbsp;</li>
        
      </ul>
    </main>
  </div>
</div>

