
<div ng-controller="TableController" class="tableController">
  <h2>{{name}}</h2>
  <div style="display:table" class="table">
    <div style="display:table-row;" class="tableHeader">
      <div style="display:table-cell;">
        <a href="#">
        </a>
      </div>
      <div style="display:table-cell;">
          Team        
      </div>
      <div style="display:table-cell;">
        <a href="#" ng-click="sortType = 'gamesplayed'; sortDir = !sortDir">
          GP
        </a>
      </div>
      <div style="display:table-cell;">
        <a href="#" ng-click="sortType = 'wins'; sortDir = !sortDir">
          W
        </a>
      </div>
      <div style="display:table-cell;">
        <a href="#" ng-click="sortType = 'losses'; sortDir = !sortDir">
          L
        </a>
      </div>
      <div style="display:table-cell;">
        <a href="#" ng-click="sortType = 'draws'; sortDir = !sortDir">
          T
        </a>
      </div>
      <div style="display:table-cell;" >
        <a href="#" ng-click="sortType = 'otLoss'; sortDir = !sortDir">
          OT
        </a>
      </div>
      <div style="display:table-cell;">
        <a href="#" ng-click="sortType = 'goalsForward'; sortDir = !sortDir">
          GF
        </a>
      </div>
      <div style="display:table-cell;">
        <a href="#" ng-click="sortType = 'goalsAgainst'; sortDir = !sortDir">
          GA
        </a>
      </div>
      <div style="display:table-cell;">
        <a href="#" ng-click="sortType = 'plusminus'; sortDir = !sortDir">
          +/-
        </a>
      </div>
      <div style="display:table-cell;">
        <a href="#" ng-click="sortType = 'points'; sortDir = !sortDir">
          P
        </a>
      </div>
    </div>

    <div ng-repeat="player in playersArr | orderBy: '-plusminus' | orderBy : sortType:sortDir" style="display: table-row">
      <div class="teamImage" style="display:table-cell; background-image: url(img/{{player.team.abbrevation}}.gif);"></div>
      <div ng-class="teamsToPlayOff > $index ? 'proceed' : 'notProceed'" style="display:table-cell;">{{player.playername}}</div>
      <div style="display:table-cell;">{{player.gamesplayed}}</div>
      <div style="display:table-cell;">{{player.wins}}</div>
      <div style="display:table-cell;">{{player.losses}}</div>
      <div style="display:table-cell;">{{player.draws}}</div>
      <div style="display:table-cell;">{{player.otLoss}}</div>
      <div style="display:table-cell;">{{player.goalsForward}}</div>
      <div style="display:table-cell;">{{player.goalsAgainst}}</div>
      <div style="display:table-cell;">{{player.plusminus}}</div>
      <div style="display:table-cell;">{{player.points}}</div>
    </div>
  </div>

    <p class="otChecker">OT</p>

  <!--<div style="display:table" class="table">
    <div class="otCenterer" style="display:table-row;">
      <div style="display:table-cell;"></div>
      <div style="display:table-cell;"></div>
      <div style="display:table-cell;text-align: center;">OT</div>
      <div style="display:table-cell;"></div>
      <div style="display:table-cell;"></div>
    </div>-->
    <div class="input-group scoreRepeater" ng-repeat="game in games">
      <span style="display:table-cell;" class="input-group-addon teamLabel">{{::game.homeTeam.playername}}</span>
      <input style="display:table-cell; padding-left: 5px;" type="number" class="form-control scoreLabel" min="0" ng-model="game.homeGoals" ng-change="calcScore(game, {{game}})" ng-model-options="{updateOn: 'blur'}">
      <span style="display:table-cell;" class="input-group-addon">
        <input type="checkbox" ng-model="game.ot" ng-change="calcScore(game, {{game}})">
      </span>
      <input style="display:table-cell; padding-right: 5px;" type="number" class="form-control scoreLabel" min="0" ng-model="game.awayGoals" ng-change="calcScore(game, {{game}})" ng-model-options="{updateOn: 'blur'}">
      <span style="display:table-cell;" class="input-group-addon teamLabel">{{::game.awayTeam.playername}}</span>
    </div>
    
  </div>
</div>

